/*
palette from generator 1
#9E9E96
#B0B1A8
#421D2B
#A8A8A1
#A2A39B

palette from generator 2
#5e4954
#9ca49c
#949690
#9c9c98
#2c2c44
*/
@import "components/bugfix.css";

@font-face {
  font-family: "Overpass";
  src: url("/static/fonts/ttf/Overpass-Regular.ttf"),
    url("/static/fonts/ttf/Overpass-Black.ttf"),
    url("/static/fonts/ttf/Overpass-LightItalic.ttf");
}

a > img {
  margin-left: 1rem;
}

body {
  font-family: 'Inconsolata', monospace;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #002b36;
  color: #657b83;
  background-image: url("./static/img/KfPLk9E.jpg");
}

h2 {
  font-family: "Architects Daughter", cursive;
}

h2,
h3,
h4 {
  text-align: center;
  color: #93a1a1;
  user-select: none;
}

p {
  display: none;
}

h2 {
  text-emphasis: Bold;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #dee3e3;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.1rem;
}

img {
  margin: 0.5rem;
}

.category {
  display: flex;
  background-color: #073642;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.category > h4 {
  min-width: 100%;
  flex-flow: column;
  font-weight: 300;
}

.category > ul {
  max-width: 95%;
  padding-inline-start: 0;
  align-content: center;
}

li.category {
  list-style-type: none;
  padding: 1em;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 15em;
}

.category * {
  display: flex;
}

.category > ul {
  width: 100%;
  flex-direction: column;
  align-self: center;
}

.category > ul > li {
  cursor: pointer;
  margin-bottom: 0.7rem;
}

.category > ul > li:hover {
  border-radius: 4px;
  background-color: #052d38
}

.category > ul > li > a > img {
  margin-right: 1rem;
}

@media (min-width: 920px) {
  /** defualt has the following:
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    **/
  nav {
    width: 67%;
    max-width: 1000px;
  }

  a p {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-transform: capitalize;
    color: #dee3e3;
  }
}

#Communication {
}

#WorkProductivity {
}

#Recreational {
}
